#
# Copyright (c) 2023 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#
rsource "../../../sidewalk/samples/sid_end_device/Kconfig.defconfig"

config SIDEWALK_SPI_BUS
    default y
    imply SPI
    imply PM
    imply PM_DEVICE

config SID_END_DEVICE_TX_THREAD_STACK_SIZE
    int
    default 4096

config SID_END_DEVICE_RX_THREAD_STACK_SIZE
    int
    default 4096

config SID_END_DEVICE_NOTIFY_DATA_PERIOD_MS
    int "Notify period of sensor monitoring demo app"
    default 60000

config SID_END_DEVICE_TX_THREAD_PRIORITY
    int
    default 13

config SID_END_DEVICE_RX_THREAD_PRIORITY
    int
    default 14

config SID_END_DEVICE_TX_THREAD_QUEUE_SIZE
    int
    default 10

config SID_END_DEVICE_RX_THREAD_QUEUE_SIZE
    int
    default 4

config RAK1901_MEASUREMENT_INTERVAL
    int
    default 60000

source "Kconfig.zephyr"
